#filmTitle{
    text-align: center;
}

body{
    background-image: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fG1vdmllJTIwcG9zdGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

#showingTitle{
    text-align: center;

}
#headTitle{
    text-align: center;
}
#mviedet{
    list-style: none;
}
/* #runtime{
    background-color: rgb(0, 92, 0);
} */